.footer
	position: relative
.map
	width: 50%
	height: 100%
	position: absolute
	left: 0
	top: 0
.contacts
	flex-basis: 50%
	padding-top: 3px
	padding-left: 200px
	&__title
		+bold
		font-size: 22px
		line-height: 1.5
		margin-bottom: 92px
		margin-left: 12px
	&-block
		display: flex
		justify-content: flex-end
	&-list
		list-style: none
		padding: 0
		margin-left: 10px
		&__icon
			width: 20px
			height: 20px
			text-align: center
			line-height: 20px
			margin-right: 23px
			margin-top: 4px
		&__item
			display: flex
			align-items: flex-start
			margin-bottom: 38px
			line-height: 26px
		&__text
			margin-top: -3px
			font-size: 16px
.foot-one
	margin-top: -5px
	margin-bottom: 32px

