.hero
	padding: 44px 0
	background-color: #f5f5f5
	&-block
		display: flex
	&-image
		display: flex
		justify-content: flex-end
		margin-right: -38px
	&-text
		flex-basis: 46%
		padding-right: 55px
		&__title
			+bold
			margin-top: 31px
			margin-bottom: 39px
			margin-left: -4px
			font-size: 41px			
			line-height: 55px
		&__subtitle
			+bold
			display: inline-block
			font-size: 20px
			margin-bottom: 70px
	&-list
		+reg
		margin: 0
		padding: 0
		&__item
			display: flex
			align-items: center
			margin-bottom: 25px
		&__image
			width: 35px
			height: 35px
			border: 2px solid $main-color
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			margin-right: 30px
		&__text
			max-width: 250px
			font-size: 14px
			line-height: 24px
@media (max-width: 1200px)
	.hero
		&-block
			flex-direction: column
		&-list
			margin-bottom: 44px
		&-text
			padding-right: 10px
@media (max-width: 768px)
	.hero
		&-text
			&__title
				font-size: 24px
				line-height: 1.4
				margin-bottom: 15px
			&__subtitle
				font-size: 16px
				margin-bottom: 28px
		&-list
			&__item
				margin-bottom: 20px
			&__text
				font-size: 12px
			&__image
				margin-right: 15px
@media (max-width: 320px)
	.hero
		padding: 9px 0
		&-block
			flex-direction: column
		&-text
			&__title
				line-height: 1.2
				margin: 34px -10px 5px 3px				
			&__subtitle	
				margin-top: 2px			
				margin-left: 5px
		&-list
			&__text
				line-height: 1.2
		&-image
			max-width: 291px
			max-height: 253px
			margin-top: -7px
				