@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
  .section {
    padding-bottom: 55px;
  }
}

.button {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 17px 30px;
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 800px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid orange;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@media (max-width: 320px) {
  .phone {
    display: inline-block;
    margin-top: 1px;
    margin-left: -2px;
  }
}

.scrollup {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background: url("../img/arrow.svg") no-repeat center;
  cursor: pointer;
  border-radius: 10px;
}

.bold {
  font-weight: 900;
}

#username-error.invalid-1 {
  position: absolute;
  bottom: 47%;
  left: 25%;
  margin-left: -13%;
}

#phone-error.invalid-1 {
  position: absolute;
  bottom: 47%;
  right: 13%;
}

#username-error.invalid-2, #phone-error.invalid-2, #email-error.invalid-2 {
  position: absolute;
  font-size: 13px;
  left: 50%;
  margin-left: -49px;
  margin-top: -7px;
}

input.invalid-1 {
  border: 1px solid red;
}

@media (max-width: 1200px) {
  #username-error.invalid-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    top: 63px;
    right: 0;
    font-size: 13px;
  }
  #phone-error.invalid-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    top: 139px;
    right: 0;
    font-size: 13px;
  }
}

@-webkit-keyframes animationOne {
  from {
    border-radius: 10px;
  }
  50% {
    border-radius: 50%;
    border: 3px solid green;
  }
  to {
    border-radius: 10px;
  }
}

@keyframes animationOne {
  from {
    border-radius: 10px;
  }
  50% {
    border-radius: 50%;
    border: 3px solid green;
  }
  to {
    border-radius: 10px;
  }
}

.box {
  -webkit-animation-name: animationOne;
          animation-name: animationOne;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

/* Импорт стилей шапки */
.navbar {
  padding: 6px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin-bottom: 5px;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 13px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;
}

.navbar__button {
  min-width: 170px;
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 14px 0;
  }
  .navbar__button {
    font-size: 10px;
    min-width: 137px;
    padding: 14px 0;
    margin-right: 4px;
  }
  .button {
    border-radius: 5px;
  }
}

/* Стили для главного экрана */
.hero {
  padding-top: 46px;
  background-color: #f5f5f5;
  margin-bottom: 1px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -38px;
  margin-bottom: 6px;
}

.hero-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-right: 55px;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 39px;
  margin-left: -4px;
  font-size: 41px;
  line-height: 55px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
}

.hero-list {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:nth-child(2) {
  margin-bottom: 22px;
}

.hero-list__image {
  width: 39px;
  height: 39px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 250px;
  font-size: 14px;
  line-height: 24px;
}

.hero-list__text:nth-child(3) {
  margin-bottom: -2px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-image {
    margin-top: 1px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 9px 0;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text__title {
    line-height: 1.2;
    margin: 34px -16px 5px 3px;
  }
  .hero-text__subtitle {
    margin-top: 2px;
    margin-left: 5px;
  }
  .hero-list {
    margin: 0 0 0 3px;
  }
  .hero-list__text {
    line-height: 1.2;
  }
  .hero-list__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .hero-list__item {
    margin-bottom: 22px;
  }
  .hero-image {
    max-width: 291px;
    max-height: 253px;
    margin-top: 15px;
    margin-bottom: 22px;
  }
}

/* Стили для блока offer*/
.offer {
  background: url("../img/offer/offer_image.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  margin-top: -1px;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.offer__form {
  position: relative;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-block__title {
  max-width: 360px;
  line-height: 35px;
  margin-top: -11px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
  margin-top: -5px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  line-height: 1.6;
}

.offer__input:focus {
  outline-color: orange;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

@media (max-width: 2560px) {
  .offer {
    background-position: 75% 100%;
    background-repeat: repeat;
  }
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .offer {
    margin-bottom: -20px;
  }
  .offer-block {
    width: 99%;
  }
  .offer-block__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: -41px;
    padding-right: 10px;
    margin-bottom: 25px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 27px;
    margin-top: -7px;
  }
  .offer__button {
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
    padding: 0 40px;
    min-height: 67px;
    margin-top: 1px;
  }
  .offer__form {
    margin-bottom: -3px;
  }
  .offer__input:first-child {
    margin-bottom: 7px;
  }
}

/*Cтили для "подвала" offer*/
.under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.under-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 100%;
  margin-right: 25px;
}

.under-block__subtext {
  margin-left: -1px;
  font-size: 15px;
  line-height: 24px;
}

.under-block:first-child {
  margin-left: -1px;
}

.under-block:last-child {
  max-width: 201px;
  margin-right: 0;
}

.under-contacts {
  margin-right: 9px;
}

.under-contacts__subtext {
  display: block;
  font-size: 15px;
  line-height: 24px;
}

.under-contacts__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 320px) {
  .under {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 26px;
    margin-left: 8px;
    margin-bottom: -38px;
  }
  .under-contacts {
    margin-left: -3px;
    margin-top: 6px;
  }
}

/*Стили для секции portfolio*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: 0 auto 93px;
  font-size: 30px;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: 31px auto 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.owl-nav {
  max-width: 120px;
  margin: 68px auto 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-item img {
  max-width: 370px;
}

@media (max-width: 320px) {
  .portfolio__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: -31px;
    margin-bottom: 40px;
  }
  .portfolio .portfolio__arrows {
    margin-top: 28px;
    margin-bottom: -30px;
  }
  .portfolio .slider__item {
    margin-left: 15px;
    margin-right: 19px;
  }
  .portfolio .slider__image {
    max-height: 221px;
  }
  .portfolio .owl-item img {
    height: 187px;
  }
  .portfolio .owl-nav {
    margin-top: 46px;
    margin-bottom: -30px;
  }
}

/*Стили для блока с ценами*/
.price {
  margin-bottom: -59px;
}

.price__title {
  width: 550px;
  margin: auto;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: -5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price__title {
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  .price__title {
    font-size: 18px;
    max-width: 250px;
    line-height: 22px;
    margin-top: -42px;
    margin-bottom: 25px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-left: -16px;
  }
  .card__text {
    padding-top: 34px;
    padding-bottom: 26px;
  }
  .card__title {
    font-size: 14px;
    width: 200px;
    margin-bottom: 12px;
    margin-top: -10px;
  }
  .card__image {
    max-width: 280px;
  }
  .card__link {
    margin-left: -7px;
  }
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*Стили для блока brif*/
.brif {
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  margin-top: -12px;
  padding-bottom: 58px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  line-height: 23px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 45px;
  width: 533px;
  font-size: 22px;
  line-height: 1.4;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-height: 400px;
}

.form__title {
  margin-bottom: 45px;
  margin-top: -6px;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 40.5px;
  font-size: 16px;
}

.form__description {
  display: block;
}

.add {
  margin-top: 10px;
}

.add-2 {
  margin-top: 13px;
}

.add-3 {
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .brif {
    background-size: 50%, cover;
  }
  .brif-block {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 400px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
}

@media (max-width: 320px) {
  .brif-block {
    margin-top: -47px;
  }
  .interview__title {
    max-width: 250px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 2px;
  }
  .interview__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;
    max-width: 180px;
    margin-bottom: 38px;
  }
  .interview-list__item {
    width: 300px;
  }
  .interview-list__item:nth-child(3) {
    margin-top: -10px;
  }
  .interview-list__counter {
    margin-right: 9px;
  }
  .add {
    width: 185px;
    margin-top: 10px;
    margin-bottom: -12px;
  }
}

.invalid, .invalid-2 {
  border: 1px solid red;
}

#username-error, #phone-error, #email-error {
  border: none;
}

#brif-form {
  position: relative;
}

/*Стили для блока steps*/
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 26px;
}

.step__text {
  font-size: 14px;
  max-width: 155px;
  margin: auto;
  line-height: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__title {
  margin: auto;
  margin-bottom: 39px;
  font-size: 30px;
  line-height: 45px;
  width: 670px;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 45px;
}

@media (max-width: 1200) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .steps {
    margin-top: -158px;
  }
  .steps-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .steps__title {
    margin: auto;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 22px;
    width: 240px;
  }
  .steps__subtitle {
    text-align: center;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 45px;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .step__image {
    margin-bottom: 18px;
  }
  .fix-1 {
    margin-bottom: 28px;
  }
  .fix-2 {
    margin-bottom: 27px;
  }
  .fix-3 {
    margin-bottom: 27px;
  }
  .fix-4 {
    margin-bottom: 27px;
  }
  .fix-5 {
    margin-bottom: -4px;
  }
  .fix-6 {
    margin-bottom: -13px;
  }
}

/*Стили для блока inexpensive*/
.inexpensive {
  margin-top: -86px;
}

.inexpensive-main {
  width: 100%;
  background-color: #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 91px;
  text-align: center;
}

.inexpensive-title {
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  font-weight: 400;
  max-width: 950px;
  margin-top: -2px;
  margin-left: -5px;
}

.inexpensive-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inexpensive-images__item {
  background-color: #f7f7f7;
  margin-right: 30px;
}

.inexpensive-images__item:last-child {
  margin-right: 0;
}

.inexpensive-images__man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 260px;
}

.inexpensive-images__text {
  padding-top: 23px;
  padding-left: 26px;
  padding-bottom: 61px;
}

.inexpensive-images__subtitle {
  font-size: 16px;
  line-height: 23px;
}

.add-width-1 {
  max-width: 290px;
}

.add-width-2 {
  max-width: 310px;
}

.add-width-3 {
  max-width: 310px;
}

@media (max-width: 1200px) {
  .inexpensive-images__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inexpensive-images__text {
    padding-right: 26px;
  }
}

@media (max-width: 768px) {
  .inexpensive-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inexpensive-images__item {
    margin-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inexpensive-images__item:last-child {
    margin-right: 30px;
  }
  .inexpensive-images__text {
    padding: 25px;
  }
}

@media (max-width: 320px) {
  .inexpensive {
    margin-top: -123px;
  }
  .inexpensive-main {
    padding: 72px 32px 76px;
  }
  .inexpensive-title {
    font-size: 18px;
    line-height: 22px;
    margin-left: -1px;
  }
  .inexpensive-images {
    margin-top: 59px;
    margin-right: 0;
    max-width: 275px;
  }
  .inexpensive-images__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .inexpensive-images__item:last-child {
    margin-right: 0;
  }
  .inexpensive-images__text {
    padding-top: 13px;
    padding-right: 15px;
    padding-left: 0;
    padding-bottom: 35px;
    max-width: 227px;
  }
  .inexpensive-images__subtitle {
    font-size: 12px;
    line-height: 16px;
  }
  .add-width-2 {
    padding-bottom: 20px;
  }
  .add-width-3 {
    padding-bottom: 36px;
  }
}

/*Стили для блока guarantee*/
.guarantee {
  margin-top: -47px;
  margin-bottom: 149px;
}

.guarantee-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 92px;
  text-align: center;
}

.guarantee-main__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  max-width: 650px;
  font-size: 30px;
  line-height: 45px;
}

.guarantee-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.guarantee-images__image {
  margin-bottom: 33px;
}

.guarantee-images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 119px;
}

.guarantee-images__item:last-child {
  margin-right: 0;
}

.guarantee-item__text {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 26px;
  margin-right: -2px;
}

.guarantee-item__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin-left: -22px;
  text-align: center;
}

.guarantee-item__subtitle:last-child {
  margin-left: -24px;
}

@media (max-width: 1200px) {
  .guarantee-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guarantee-images__item {
    margin-right: 0;
  }
  .guarantee-item__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .guarantee {
    margin-top: -136px;
    margin-bottom: -48px;
  }
  .guarantee-main {
    margin-bottom: 48px;
  }
  .guarantee-main__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 250px;
  }
  .guarantee-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .guarantee-images__image {
    margin-bottom: 30px;
  }
  .guarantee-images__item {
    margin-right: 0;
  }
  .guarantee-item__text {
    margin-top: -4px;
    margin-bottom: 45px;
    margin-left: 22px;
  }
  .guarantee-item__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

/*Стили для блока footer*/
.footer {
  position: relative;
}

.map {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 3px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 92px;
  margin-left: 12px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
  margin-top: 4px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 38px;
  line-height: 26px;
}

.contacts-list__text {
  margin-top: -3px;
  font-size: 16px;
}

.foot-one {
  margin-top: -5px;
  margin-bottom: 32px;
}

/*Стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */